.card{
    background: var(--card-primary-background);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 1px solid #d4ddf0;
    box-shadow: 0 0 10px 0 rgb(8 100 207 / 12%) !important;
    min-height: 250px;
}

nav{
    display: flex;
    align-items: center;
    align-self: end;
    padding-left: 20px;
    padding-right: 20px;
}

.user-button{
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid 0.5px;
    color: #fff;
}
::ng-deep .user-menu{

    background-color: var(--secondary-color);
    margin-top: 10px;
    

    .title{
        font-style: italic;
        color: lightgrey ;
        line-height: 20px;
        height: 20px;  
    }
    .button{
        color: #66788a;
        display: flex;
        align-items: center;
    }
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    width: 100%; 
}

