.brand-name{
    width: 600px;
    margin-left:calc(50% - 300px);
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 400;
    color: #316df0;
    letter-spacing: 2px;
}

mat-card{
    box-sizing: border-box;
    width: 500px;
    margin-left:calc(50% - 250px);
    border: 1px solid #d4ddf0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(8 100 207 / 12%) !important;
    padding: 50px 50px 20px;
    display: block;
    margin: auto;

    mat-card-title{
        padding-bottom: 20px;
        color: #234361;
        font-weight: 400;
        margin: 0 auto 15px;
        font-size: 26px;
    }

    mat-card-title.submitted{
        padding-bottom: 0px;
        color: #234361;
        font-weight: 400;
        margin: 0 auto 15px;
        font-size: 26px;
        display: block !important;

        div{
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }

        div.title{
            margin-bottom: 20px;
        }

        div.info-text{
            font-size: 14px;
            color: #234361;
        }

        .italic-text{
            font-style: italic;
            color: #66788a;
        }

        .link-row{
            margin-top: 40px;
            font-size: 14px;
        }
    }

    mat-card-title, mat-card-content, mat-card-actions{
        display: flex;
        justify-content: center;
    }

    mat-card-actions{
        text-align: center;
    }

    input{
        min-width: 350px;
        max-width: none;
        border: 1px solid #d4ddf0;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    input.invalid-form{
        background-color: rgba(240, 128, 128, 0.349);
    }

    label{
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 25px;
        font-weight: 450;
        text-align: left;
        color: #66788a;
        display: inline;

       
    }

   

    button{
        min-width: 200px;
        background-color: #316df0;
        color: #fff;
        border-radius: 4px;
        text-transform: uppercase;
        height: 40px;
        letter-spacing: .8px;
        font-size: 12px;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .link-row{
        width: 100%;
        text-align: center;
        color: #66788a;
        margin-bottom: 20px;
    }
    a{  
        :hover{
            cursor:pointer !important;
        }
        text-decoration: underline;
        
    }
        
}

mat-card.submitted{
    width: 600px;
    margin-left:calc(50% - 300px);
}

.password-validation{
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #66788a;
    td{
        opacity: 0.5;
        fa-icon{
            font-size: 13px;
            margin-right: 5px;
        }
    }
    td.valid{
        opacity: 1;
        fa-icon{
            color: #316df0;
        }
    }

}

.input-wrapper{
    fa-icon{
        position: absolute;
        line-height: 36px;
        margin-left: -30px;
        font-size: 18px;
        display: none;
    }
    .check-icon{
        color: #316df0;
    }
    .times-icon{
        color: #dc3545;
    }
}

.input-wrapper.valid{
    .check-icon{
        display: initial;
    }
    .times-icon{
        display: none;
    }
    input{
        background-color: rgb(232, 240, 254);
    }
}
.input-wrapper.invalid{
    .check-icon{
        display: none;
    }
    .times-icon{
        display: initial;
    }
    input{
        background-color: rgba(220, 53, 69,0.2);
        border: 1px solid rgba(220, 53, 69,0.1);
    }
}

input.disabled{
    opacity: 1;
    background-color: #eee;
    cursor: not-allowed;

    &:focus{
        outline: none;
    }
}