
<div class="brand-name"><fa-icon [icon]="logo"></fa-icon>ALFRED</div>

<mat-card>

  <mat-card-title>Réinitialisation du mot de passe</mat-card-title>

  <mat-card-content>
    <form class="form" [formGroup]="registerForm">
      <table>
        <tr>
          <td>
            <label>Email </label>
          </td>
        </tr>
        <tr>
          <td>
            <input  class="disabled" matInput formControlName="username"  value="jul.delm@gmail.com" readonly>
          </td>
        </tr>
        <tr>
          <td>
            <label [ngClass]="{'invalid-form': invalidForm === true}">Mot de passe *</label>
          </td>
        </tr>
        <tr>
          <td>
            <input formControlName="password" type="password" matInput placeholder="" [ngClass]="{'invalid-form': invalidForm === true}" (focusout)="focusOutFunction()">
          </td>
        </tr>
        <tr>
            <td>
              <label [ngClass]="{'invalid-form': invalidForm === true}">Confirmation du mot de passe *</label>
            </td>
          </tr>
          <tr>
            <td>
              <input formControlName="passwordConfirmation" type="password" matInput placeholder="" [ngClass]="{'invalid-form': invalidForm === true}" (focusout)="focusOutFunction()"> 
            </td>
          </tr>
      </table>

      <mat-card-actions>
        <button mat-stroked-button type="submit" (click)="reinitializePassword()" color="primary">Réinitialiser</button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
