
<div class="brand-name">
    <fa-icon [icon]="logo"></fa-icon>ALFRED
  </div>
  
  <mat-card *ngIf="!submitted">
    <mat-card-title>
        <div class="title">
            Mot de passe oublié ?
        </div>
        <div class="info-text">
            Entrez le mail associé à votre compte et nous vous enverrons un mail avec les instructions pour changer votre mot de passe.
        </div>
    </mat-card-title>
  
    <mat-card-content>
      <form class="form" [formGroup]="resetPasswordForm">
        <table>
          <tr>
            <td>
              <label [ngClass]="{'invalid-form': invalidForm === true}">Email :</label>
            </td>
          </tr>
          <tr>
            <td>
              <input formControlName="username" matInput placeholder="" [ngClass]="{'invalid-form': invalidForm === true}" (focusout)="focusOutFunction()">
            </td>
          </tr>
        </table>
  
        <mat-card-actions>
          <button mat-stroked-button type="submit" (click)="resetPassword()" color="primary">Réinitialiser mon mot de passe</button>
        </mat-card-actions>
        <div class="link-row">
          Vous n’avez pas encore de compte ?   <a href="/register">Inscrivez-vous ici</a>
        </div>
        <div class="link-row">
            Vous avez déjà un compte ?   <a href="/login">Connectez-vous</a>
          </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="submitted">
    <mat-card-title class="submitted">
        <div class="title">
          Réinitialisation de votre mot de passe
        </div>
        <div class="info-text">
          Un mail vous permettant de réinitialiser votre mot de passe vous a été envoyé.
        <br>
          <span class="italic-text">NB : si le mail n’apparait pas dans votre boite de réception, pensez à consulter vos Spams</span>
        </div>
        <div class="link-row">
          <a href="/login">Retour à la page de connexion</a>
        </div>
    </mat-card-title>
  </mat-card>
  