@import '~@angular/material/theming';
@import "toastr";
@include mat-core();

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container{
  box-shadow: none;
  border: none;
  background-color: transparent;
}