$alfred-blue: #316df0;
$alfred-body-bg: #edf2f9;
$alfred-toolbar-bg: transparent;
$alfred-button-light-bg: #fff;

:root{
    --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --xxl-breakpoint: 1400px;
    --nav-primary-background: rgba(237,242,249,1);
    --secondary-color: #316df0;
    --card-primary-background: #fff;
    --main-radius: 5px;
    --main-padding: 5px;  
}
