
<div class="brand-name"><fa-icon [icon]="logo"></fa-icon>ALFRED</div>

<mat-card>

  <mat-card-title>Réinitialisation du mot de passe</mat-card-title>

  <mat-card-content>
    <form class="form" [formGroup]="registerForm">
      <table>
        <tr>
          <td>
            <label>Email </label>
          </td>
        </tr>
        <tr>
          <td>
            <input  class="disabled" matInput formControlName="username"  value="jul.delm@gmail.com" readonly>
          </td>
        </tr>
        <tr>
          <td>
            <label>Mot de passe *</label>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-wrapper" [ngClass]="{'valid': formValidation.password,'invalid': !formValidation.password && !formIsValid}">
              <input formControlName="password" type="password" matInput placeholder=""
                (input)="onChangePassword()">
                <fa-icon class="check-icon" [icon]="check"></fa-icon>
                <fa-icon class="times-icon" [icon]="times"></fa-icon>
            </div>
          </td>
        </tr>
        <tr>
          <table class="password-validation">
            <tr>
              <td [ngClass]="{'valid': passwordValidation.length}">
                <fa-icon [icon]="checkCircle"></fa-icon> <span>8 caractères minimum</span>
              </td>
              <td [ngClass]="{'valid': passwordValidation.number}">
                <fa-icon [icon]="checkCircle"></fa-icon>Un nombre
              </td>
            </tr>
            <tr>
              <td [ngClass]="{'valid': passwordValidation.uppercase}">
                <fa-icon [icon]="checkCircle"></fa-icon>Un caractère en majuscule
              </td>
              <td [ngClass]="{'valid': passwordValidation.lowercase}">
                <fa-icon [icon]="checkCircle"></fa-icon>Un caractère en minuscule
              </td>
            </tr>
          </table>
        </tr>
        <tr>
          <td>
            <label>Confirmation du mot de passe *</label>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-wrapper" [ngClass]="{'valid': formValidation.passwordConfirmation,'invalid': !formValidation.passwordConfirmation && !formIsValid}">
              <input formControlName="passwordConfirmation" type="password" matInput placeholder=""
                (input)="onChangePasswordConfirmation()">
                <fa-icon class="check-icon" [icon]="check"></fa-icon>
                <fa-icon class="times-icon" [icon]="times"></fa-icon>
            </div>
          </td>
        </tr>
      </table>

      <mat-card-actions>
        <button mat-stroked-button type="submit" (click)="reinitializePassword()" color="primary">Réinitialiser</button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
